 
grant {
	permission java.security.AllPermission;
};
  
grant codeBase "file:/home/asao/Documents/Universite/Semestre9/Middlewares/7Families/7Families-server/7Familles-Serveur/bin" {
    permission java.security.AllPermission;
};